
body { background:#000; }

/* CABECERA */
h1
{ 
	background:url('/img/escenarios/investigator_select_title.png') center no-repeat;
	font-family:'OldNewspaperTypes';
	height:110px; width:100%;
	padding:30px 0;
	text-align:center;
}

/* FLECHAS */
main, .arrow { height:415px; }

.pjs { height:415px; overflow-y:auto; }

.selected { opacity:0.5; }

.box-frame img 
{ 
	height:200px; width:165px;
}

.box-frame span 
{ 
	display:block;
	font:13px 'OldNewspaperTypes';
	position:absolute; bottom:27px;
	width:100%;
}

div.footer { clear:both; height:150px; }

footer 
{ 
	background:url('/img/escenarios/party_tray.png') center no-repeat;
	height:160px; 
	position:fixed; bottom:0; 
}
footer .oval_left
{
	background:url('/img/escenarios/oval_left.png') right top no-repeat;
	font:13px 'OldNewspaperTypes';
	height:160px;
	position:relative; 
}
footer .oval_left a { position:absolute; right:47px; top:40px; }

footer .pj_names
{ 
	padding-top:45px !important;
	position:relative;
	text-align:center;
}

footer .pj_names div a
{ 
	color:#e0e0e0;
	font:13px 'OldNewspaperTypes';
}

footer .pj_names div img
{ 
	max-height:20px;
}

footer .oval_right
{
	background:url('/img/escenarios/oval_right.png') left top no-repeat;
	font:13px 'OldNewspaperTypes';
	height:160px;
	position:relative; 
}
footer .oval_right a { position:absolute; left:60px; top:40px; }

@media (max-width:600px)
{
	h1 { margin-top:15px; }
	footer .pj_names div
	{ 
		height:17px;
	}
}

@media (min-width:601px) and (max-width:992px)
{
}

@media (min-width:993px)
{
}
