DirectoryIndex index.php
# Si esta mod_rewrite habilitado
<IfModule mod_rewrite.c>
    # Activar modo de reescritura
    RewriteEngine On

    # DE HTTP A HTTPS
    #RewriteCond %{HTTPS} off
    #RewriteRule (.*) https://%{HTTP_HOST}/$1 [NC,L,R]

    # No permite reescritura si el archivo o directorio existe
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Para peticiones que no son archivos ni directorios
    # Reescribe a index.php/
    RewriteRule (.*) index.php/$1 [L]
</IfModule>
